body {
   background-color:#DCE1E3;

  }
  
  .contact {
      display: flex;
      justify-content:center;
  }
  .contact-title {
    display: flex;
    justify-content:center;
  }
  .far {
      margin: 20px;
      height: 20px;
      width: 20px;
  }
  .fab {
      margin: 20px;
      height: 20px;
      width: 20px;
  }
  .contact-title {
    font-family: sans-serif;
    font-size: large;

  }
 
























































    






